<html>
    <head>
        <style type="text/css">
            body,div,ol{font-size: 14px; margin: 0pt; color:#000;list-style:none;border:none;}
            a {color: #414141;}
            em {color:#cc0066;font-style:normal;}
            .p {font-family: Lucida Sans Unicode; color: #666699;}
            .g {color: #666666;}
            .b {font-weight:bold;}
            .k {color: green;font-weight:bold;}
            .t {font-weight:bold;color:#666666;font-style:italic;}
            .google{font-weight:bold;}
        </style>
    </head>
    <body>
        <div class="google">$$google$$</div>
       	$$image$$
		$$dictCn$$
    </body>
</html>